<div class="card" style="width: 18rem;">
<form (ngSubmit)="getWeatherData()">
  <div class="mb-3">
    <label for="cityName" class="form-label">Votre ville </label>
    <input name="cityName" [(ngModel)]="city" type="text" class="form-control" id="cityName">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
@if(weatherData){
  <div class="card-body">
    <h2>Météo à {{ weatherData.name }}</h2>
    <p>Température : {{ weatherData.main.temp }}°C</p>
    <p>Humidité : {{ weatherData.main.humidity }}%</p>
    <p>Conditions : {{ weatherData.weather[0].description }}</p>

  </div>
}
@if(errorMessage){
  <span class="alert alert-danger mt-3">{{errorMessage}}</span>
}

