<div class="container">
    <h1>Commande vocale et recherche Spotify</h1>
    <p>Essayez de dire : "Spotify [titre de morceau ou artiste]" ou "Météo"</p>
  
    <!-- Bouton pour activer la reconnaissance vocale (en rouge pour ressembler à un bouton d'enregistrement) -->
    <button (click)="startRecognition()" class="record-button">
    </button>
  
    <!-- Message de diagnostic -->
    <p class="diagnostic">{{ diagnosticMessage }}</p>
  
    <!-- Affichage conditionnel du composant Spotify et Meteo -->
    @if (showSpotify ){
        <app-spotify [query] = "query"></app-spotify>
     }
     @if (showMeteo ){
        <app-meteo></app-meteo>
    }
  </div>